# Exclude custom scripts
award_playlists_create_specific.sh

# Exclude files within these folders
conf/**
dat/**
log/**
tmp/**

# except example config
!conf/custom.conf.original

# Exclude backups
*.devel
*.*cw