html * {
    font-family: Helvetica;
    font-size: 100%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

thead {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 1.2em;
}

table.nominations tbody tr:nth-child(odd) {
    background-color: #F0F0F0;
}


/* 
 * add incrementing numbers in frint of every row
 */

table.nominations {
  counter-reset: rowNumber;
}

table.nominations tbody tr {
  counter-increment: rowNumber;
}

table.nominations tbody tr td:first-child::before {
  content: counter(rowNumber);
  font-size: 0.8em;
  text-align: right;
}


.meta {
  font-size: .8em;
}

.timestamp {
  padding-left: 2em;
}

.nomcount {
  text-align: right;
}

.media_type {
  text-align: center;
}

.Short::after {
  display: inline-block;
  content: "\f017";
  font-size: .5em;
}

.yes {
  color: green;
  text-align: center;
}

.partly {
  color: Chocolate;
  text-align: center;
}

.no {
  color: red;
  text-align: center;
}

