html * {
    font-family: Helvetica;
    font-size: 100%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

thead {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 1.2em;
}

table tbody tr:nth-child(odd) {
    background-color: #F0F0F0;
}


/* 
 * add incrementing numbers in frint of every row
 */

table {
  counter-reset: rowNumber;
}

table tbody tr {
  counter-increment: rowNumber;
}

table tbody tr td:first-child::before {
  content: counter(rowNumber);
  font-size: 0.8em;
  text-align: right;
}


.nominations {
  text-align: right;
}

.media_type {
  text-align: center;
}

.short {
  color: grey;
}

.yes {
  color: green;
  text-align: center;
}

.partly {
  color: Chocolate;
  text-align: center;
}

.no {
  color: red;
  text-align: center;
}

