/* DEFAULT COLORS */

thead {
  color: #FFFFFF;
  background-color: #212121;
  font-size: 1.2em;
}

tfoot {
  color: #FFFFFF;
  background-color: #616161;
  font-size: .9em;
}

a:any-link {
  color: #000000;
}

table.nominations tbody {
  background-color: #F5F5F5;
}

tr:hover td {
  background-color: #E0E0E0;
}

table.shows {
  counter-reset: rowNumber;
  width: max-content;
}

table.shows tbody tr {
  counter-increment: rowNumber;
}

table.shows td.event {
  font-size: 0.8em;
  text-align: right;
}

/* DARK COLORS */

@media (prefers-color-scheme: dark) {
  body {
    color: #FFFFFF;
    background-color: #121212;
  }

  a:any-link {
    color: #FFFFFF;
  }

  thead {
    background-color: #424242;
  }

  tfoot {
    background-color: #424242;
  }

  table.nominations tbody {
    background-color: #212121;
  }

  table.shows tbody {
    background-color: #212121;
  }

  tr:hover td {
    background-color: #303030;
  }
}

/* OTHER STYLE SETTINGS */

body {
  font-family: Helvetica;
  font-size: 100%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

a:any-link {
  text-decoration: none;
}

thead {
  font-size: 1.2em;
}

tfoot {
  font-size: .9em;
}

tr {
  height: 1.4em;
}

table.nominations {
  counter-reset: rowNumber;
  width: max-content;
}

table.nominations tbody tr {
  counter-increment: rowNumber;
}

table.nominations tbody tr td:first-child::before {
  content: counter(rowNumber);
  font-size: 0.8em;
  text-align: right;
}

.links {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

td.title {
  padding-left: 0.5em;
}

@media (max-width: 700px)  { 
  div.title_shortening {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meta {
  font-size: .8em;
  opacity: 0.5;
}

.timestamp {
  padding-left: 2em;
}

.nomcount {
  text-align: right;
}

.nomsymbol {
  text-align: center;
  padding-left: 8px;
}

.media_type {
  text-align: center;
}

.yes {
  color: #2e7b32;
  text-align: center;
}

.partly {
  color: #f57f17;
  text-align: center;
}

.no {
  color: #d32f2f;
  text-align: center;
}


/* 
  pie chart
  source: https://stackoverflow.com/a/52205730
*/


@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.pie {
  --p:20;      /* the percentage */
  --b:5px;    /* the thickness */
  --c:hsl(calc(var(--p)),100%,50%);; /* the color */
  --w:40px;   /* the size*/
  
  width:var(--w);
  aspect-ratio:1/1;
  position:relative;
  display:inline-grid;
  margin:2px;
  place-content:center;
  font-size:0.8em;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg - 90deg)) translate(calc(var(--w)/2 - 50%));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p{
  from{--p:0;}
}
