/* DEFAULT COLORS */


/* DARK COLORS */

body {
  color: #FFFFFF;
  background-color: #121212;
}

a:any-link {
  color: #FFFFFF;
}

thead {
  background-color: #424242;
}

tfoot {
  background-color: #424242;
}

table.nominations tbody {
  background-color: #212121;
}

tr:hover {
  background-color: #303030;
}


/* OTHER STYLE SETTINGS */

body {
  font-family: Helvetica;
  font-size: 100%;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

a:any-link {
  text-decoration: none;
}

thead {
  font-size: 1.2em;
}

tfoot {
  font-size: .9em;
}

tr {
  height: 1.4em;
}

table.nominations {
  counter-reset: rowNumber;
  width: max-content;
}

table.nominations tbody tr {
  counter-increment: rowNumber;
}

table.nominations tbody tr td:first-child::before {
  content: counter(rowNumber);
  font-size: 0.8em;
  text-align: right;
}

.links {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

td.title {
  padding-left: 0.5em;
}

@media (max-width: 700px)  { 
  div.title_shortening {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meta {
  font-size: .8em;
  opacity: 0.5;
}

.timestamp {
  padding-left: 2em;
}

.nomcount {
  text-align: right;
}

.nomsymbol {
  text-align: center;
  padding-left: 8px;
}

.media_type {
  text-align: center;
}

.yes {
  color: #2e7b32;
  text-align: center;
}

.partly {
  color: #f57f17;
  text-align: center;
}

.no {
  color: #d32f2f;
  text-align: center;
}

